@model VendasApp.DataBase.PopularService;


@{
    ViewData [ " Título " ] =  " Criar " ;
}

<h1>Salvar</h1>
<h2>Enviar os Dados ao banco!</h2>
<div>
     <input type="submit" value="Salvar" class="btn btn-primary">Salvar</input>
 </div>

 <div>
     <a asp-action ="Index">Voltar a Pagína Inicial</a>
 </div>